In [1]:
import aerofiles as af # To read track files
import glob
import operator
import pandas as pd
import datetime
import time
from joblib import Parallel, delayed
import itertools

In [2]:
 def readSingleTrack(trackfile: str):
    reader = af.igc.Reader()
    try:
        with open(trackfile) as f:
            data = reader.read(f)
        start, stop = operator.itemgetter(0, -1)(data['fix_records'][1])
        # result = {'take off': start, 'landing': stop}
        result = [
            start['time'], start['lon'], start['lat'],
            stop['time'], stop['lon'], stop['lat']
        ]
    except:
        print(f'Could not read file {trackfile}')
        result = None
    return result

In [3]:
def timing(f):
    def wrap(*args, **kwargs):
        time1 = time.time()
        ret = f(*args, **kwargs)
        time2 = time.time()
        print('{:s} function took {:.3f} ms'.format(f.__name__, (time2-time1)*1000.0))

        return ret
    return wrap

In [4]:
@timing
def readTracks(path='./data/*.igc', nMax=1000):
    inputs = itertools.islice(sorted(glob.glob(path), reverse=True), nMax)
    data = []
    for track in inputs:
        data.append(readSingleTrack(track))
    return data

In [5]:
data = readTracks(nMax=100)

readTracks function took 8455.912 ms

In [6]:
# Faster parallel version
@timing
def readTracksParallel(path='./data/*.igc', nMax=1000):
    inputs = itertools.islice(sorted(glob.glob(path), reverse=True), nMax)
    data = Parallel(n_jobs=-1)(
        delayed(readSingleTrack)(track) for track in inputs
    )
    return data

In [7]:
data = readTracksParallel(nMax=100)

readTracksParallel function took 3657.229 ms

In [ ]:
# Took ~35 minutes on my old macbook (for 123k tracks)
data = readTracksParallel(nMax=None)

In [8]:
data

[[datetime.time(10, 53, 33),
  5.8909,
  45.3104,
  datetime.time(13, 23, 4),
  5.9603166666666665,
  45.32515],
 [datetime.time(9, 47, 47),
  6.2721,
  45.69846666666667,
  datetime.time(13, 59, 18),
  6.3162,
  45.75485],
 [datetime.time(16, 53, 46),
  1.3244666666666667,
  42.22848333333334,
  datetime.time(18, 7, 18),
  1.3240333333333334,
  42.228433333333335],
 [datetime.time(14, 6, 12),
  1.3245,
  42.22848333333334,
  datetime.time(15, 34, 9),
  1.3215166666666667,
  42.22265],
 [datetime.time(16, 30, 25),
  1.3244666666666667,
  42.22846666666667,
  datetime.time(17, 13, 3),
  1.3217166666666667,
  42.22225],
 [datetime.time(17, 21, 54),
  1.3244666666666667,
  42.22846666666667,
  datetime.time(17, 53, 37),
  1.3215,
  42.22293333333333],
 [datetime.time(15, 50, 18),
  1.3245166666666668,
  42.22841666666667,
  datetime.time(16, 38, 43),
  1.3242166666666666,
  42.22848333333334],
 [datetime.time(13, 16, 31),
  1.3243833333333335,
  42.2284,
  datetime.time(13, 56, 29),
  1.3265166666666666,
  42.22273333333333],
 [datetime.time(17, 24, 54),
  1.3242666666666667,
  42.22848333333334,
  datetime.time(17, 46, 51),
  1.3206,
  42.22345],
 [datetime.time(14, 16, 27),
  1.32445,
  42.2285,
  datetime.time(17, 6, 40),
  1.3243166666666666,
  42.2285],
 [datetime.time(16, 27, 56),
  1.3245,
  42.22845,
  datetime.time(16, 50, 38),
  1.32215,
  42.22248333333334],
 [datetime.time(14, 17, 25),
  1.3243833333333335,
  42.22846666666667,
  datetime.time(18, 17, 19),
  1.3242333333333334,
  42.22846666666667],
 [datetime.time(18, 9, 20),
  1.3243333333333334,
  42.22848333333334,
  datetime.time(18, 45, 7),
  1.32125,
  42.2226],
 [datetime.time(17, 55, 48),
  1.3201166666666666,
  42.232416666666666,
  datetime.time(18, 13, 2),
  1.3267166666666668,
  42.221466666666664],
 [datetime.time(17, 51, 44),
  1.3125166666666668,
  42.24183333333333,
  datetime.time(17, 52, 29),
  1.3138666666666667,
  42.24105],
 [datetime.time(17, 3, 51),
  1.32445,
  42.2285,
  datetime.time(17, 35, 9),
  1.3142666666666667,
  42.24185],
 [datetime.time(13, 22, 26),
  1.3219666666666667,
  42.229083333333335,
  datetime.time(16, 11, 21),
  1.3244666666666667,
  42.22848333333334],
 [datetime.time(14, 8, 9),
  1.3242666666666667,
  42.22853333333333,
  datetime.time(17, 11, 37),
  1.3245,
  42.22855],
 [datetime.time(15, 1, 6),
  1.32435,
  42.228516666666664,
  datetime.time(18, 8, 29),
  1.3288833333333334,
  42.219166666666666],
 [datetime.time(15, 36, 11),
  1.3244333333333334,
  42.22846666666667,
  datetime.time(17, 55, 13),
  1.3278666666666668,
  42.2227],
 [datetime.time(18, 15, 47),
  1.3243833333333335,
  42.22848333333334,
  datetime.time(18, 45, 26),
  1.3244166666666666,
  42.22853333333333],
 [datetime.time(10, 32, 32),
  12.740266666666667,
  47.329633333333334,
  datetime.time(13, 57, 15),
  12.645166666666666,
  47.28265],
 [datetime.time(8, 4, 22),
  6.883383333333334,
  45.90215,
  datetime.time(15, 59, 26),
  6.8767499999999995,
  45.92928333333333],
 [datetime.time(11, 9, 25),
  7.0148166666666665,
  47.92615,
  datetime.time(16, 41, 23),
  6.980766666666667,
  47.998983333333335],
 [datetime.time(9, 44, 39),
  6.414933333333333,
  45.78523333333333,
  datetime.time(15, 17, 38),
  6.340816666666667,
  45.762483333333336],
 [datetime.time(9, 10, 53),
  6.4765,
  45.95825,
  datetime.time(11, 36, 55),
  6.15765,
  45.80205],
 [datetime.time(13, 5, 45),
  6.498766666666667,
  46.29371666666667,
  datetime.time(14, 47, 36),
  6.485016666666667,
  46.3192],
 [datetime.time(12, 26, 31),
  2.9654833333333332,
  45.77113333333333,
  datetime.time(13, 14, 13),
  2.9865166666666667,
  45.77315],
 [datetime.time(9, 14, 53),
  6.919366666666667,
  47.89861666666667,
  datetime.time(14, 54, 2),
  6.98255,
  47.90075],
 [datetime.time(14, 41, 50),
  -0.49871666666666664,
  48.99328333333333,
  datetime.time(15, 46, 5),
  -0.7216,
  49.03375],
 [datetime.time(14, 55, 42),
  -0.4985833333333333,
  48.993233333333336,
  datetime.time(17, 0, 18),
  -1.0808,
  49.084316666666666],
 [datetime.time(12, 30, 2),
  4.056766666666666,
  47.87376666666667,
  datetime.time(15, 2, 21),
  3.2752333333333334,
  48.18163333333333],
 [datetime.time(8, 43, 35),
  6.506683333333333,
  45.7468,
  datetime.time(10, 2, 46),
  6.394566666666667,
  45.735683333333334],
 [datetime.time(10, 14, 48),
  6.708083333333334,
  48.03853333333333,
  datetime.time(11, 52, 43),
  6.706283333333333,
  48.02158333333333],
 [datetime.time(8, 27, 1),
  6.415033333333334,
  45.785383333333336,
  datetime.time(14, 33, 41),
  6.341316666666667,
  45.76263333333333],
 [datetime.time(14, 38, 12),
  -0.49871666666666664,
  48.99325,
  datetime.time(15, 38, 54),
  -0.6556,
  49.01865],
 [datetime.time(9, 36, 58),
  6.415166666666667,
  45.78508333333333,
  datetime.time(15, 11, 45),
  6.342066666666667,
  45.76291666666667],
 [datetime.time(8, 33, 28),
  6.728133333333333,
  46.1903,
  datetime.time(14, 57, 9),
  6.674433333333333,
  46.16316666666667],
 [datetime.time(10, 49, 15),
  6.919083333333333,
  47.90015,
  datetime.time(15, 1, 40),
  6.967966666666666,
  48.03568333333333],
 [datetime.time(8, 8, 14),
  6.76335,
  45.64821666666667,
  datetime.time(18, 13),
  6.750916666666667,
  45.59003333333333],
 [datetime.time(9, 37, 43),
  6.918466666666666,
  47.8986,
  datetime.time(12, 4, 56),
  6.930466666666667,
  48.0036],
 [datetime.time(9, 5, 23),
  6.06665,
  44.2492,
  datetime.time(13, 30, 54),
  5.735883333333334,
  44.52446666666667],
 [datetime.time(8, 1, 9),
  6.883733333333334,
  45.90261666666667,
  datetime.time(13, 2, 21),
  6.5632,
  45.836416666666665],
 [datetime.time(8, 42, 18),
  6.5067,
  45.74673333333333,
  datetime.time(9, 44, 20),
  6.554633333333333,
  45.721],
 [datetime.time(10, 39, 37),
  6.918833333333334,
  47.898783333333334,
  datetime.time(15, 2, 45),
  7.02455,
  48.0997],
 [datetime.time(9, 46, 28),
  6.91885,
  47.8986,
  datetime.time(12, 18, 33),
  6.6165666666666665,
  48.013416666666664],
 [datetime.time(11, 36, 23),
  6.247016666666667,
  45.81426666666667,
  datetime.time(14, 20, 37),
  6.222666666666667,
  45.78158333333333],
 [datetime.time(10, 9, 47),
  6.946733333333333,
  48.032833333333336,
  datetime.time(15, 55, 53),
  6.927883333333334,
  48.001733333333334],
 [datetime.time(9, 48, 14),
  6.918633333333333,
  47.89845,
  datetime.time(12, 56, 58),
  6.6355,
  48.01298333333333],
 [datetime.time(8, 56, 37),
  6.507116666666667,
  45.746833333333335,
  datetime.time(13, 36, 9),
  6.503816666666666,
  45.78443333333333],
 [datetime.time(11, 30, 12),
  3.970066666666667,
  45.63218333333333,
  datetime.time(12, 35),
  3.8074,
  45.79331666666667],
 [datetime.time(7, 58, 48),
  6.883683333333334,
  45.90233333333333,
  datetime.time(15, 28, 5),
  6.912983333333333,
  45.96505],
 [datetime.time(9, 16, 42),
  6.696983333333334,
  46.0505,
  datetime.time(15, 7, 13),
  6.215183333333333,
  45.96403333333333],
 [datetime.time(9, 7, 50),
  6.477283333333333,
  45.9584,
  datetime.time(11, 22, 51),
  6.214033333333333,
  45.8482],
 [datetime.time(9, 48, 22),
  6.4149666666666665,
  45.785183333333336,
  datetime.time(15, 13, 27),
  6.3409,
  45.76255],
 [datetime.time(9, 34, 50),
  6.9187666666666665,
  47.8984,
  datetime.time(15, 2, 18),
  6.982616666666667,
  47.90088333333333],
 [datetime.time(9, 5, 40),
  6.507033333333333,
  45.74688333333334,
  datetime.time(12, 55, 18),
  6.5326,
  45.761183333333335],
 [datetime.time(11, 6, 48),
  6.7081,
  48.038666666666664,
  datetime.time(15, 11, 11),
  6.70695,
  48.02193333333334],
 [datetime.time(9, 33, 36),
  6.919016666666667,
  47.89841666666667,
  datetime.time(15, 1, 39),
  6.98265,
  47.90085],
 [datetime.time(13, 42, 31),
  4.056783333333334,
  47.87385,
  datetime.time(15, 22, 5),
  3.8981833333333333,
  47.95335],
 [datetime.time(9, 15, 5),
  6.682,
  45.94475,
  datetime.time(14, 24, 26),
  6.706366666666667,
  45.91585],
 [datetime.time(8, 28, 2),
  6.916383333333333,
  46.03876666666667,
  datetime.time(13, 37, 55),
  6.922816666666667,
  46.02726666666667],
 [datetime.time(12, 47, 7),
  6.223483333333333,
  45.85288333333333,
  datetime.time(16, 58, 33),
  6.21435,
  45.848366666666664],
 [datetime.time(12, 9, 18),
  6.918633333333333,
  47.898633333333336,
  datetime.time(14, 32, 28),
  6.942616666666667,
  47.882083333333334],
 [datetime.time(8, 48, 48),
  6.883483333333333,
  45.90226666666667,
  datetime.time(15, 3, 8),
  6.3148,
  46.12635],
 [datetime.time(12, 28, 9),
  4.053416666666667,
  47.87076666666667,
  datetime.time(14, 52, 4),
  3.4538333333333333,
  48.19401666666667],
 [datetime.time(13, 41, 7),
  4.05685,
  47.87388333333333,
  datetime.time(15, 31, 32),
  3.52515,
  48.016083333333334],
 [datetime.time(8, 0, 22),
  6.877283333333334,
  45.90461666666667,
  datetime.time(14, 51, 37),
  6.488333333333333,
  45.7396],
 [datetime.time(11, 16, 4),
  5.984116666666667,
  47.20845,
  datetime.time(14, 53, 47),
  5.4881166666666665,
  47.4034],
 [datetime.time(8, 42, 10),
  6.507083333333333,
  45.74648333333333,
  datetime.time(12, 52, 4),
  6.58285,
  45.83788333333333],
 [datetime.time(13, 58, 5),
  6.918833333333334,
  47.89855,
  datetime.time(15, 33, 41),
  6.917966666666667,
  47.89925],
 [datetime.time(8, 51, 6),
  6.58335,
  46.014466666666664,
  datetime.time(13, 31, 27),
  6.6829833333333335,
  46.180366666666664],
 [datetime.time(9, 35, 23),
  6.9187666666666665,
  47.898633333333336,
  datetime.time(15, 17, 39),
  6.982583333333333,
  47.901],
 [datetime.time(8, 0, 35),
  6.763433333333333,
  45.648383333333335,
  datetime.time(14, 42, 49),
  6.7510666666666665,
  45.59063333333334],
 [datetime.time(8, 42, 9),
  6.743566666666666,
  45.63735,
  datetime.time(16, 28, 52),
  6.7633,
  45.61045],
 [datetime.time(8, 38, 20),
  6.415066666666666,
  45.785266666666665,
  datetime.time(13, 56, 18),
  6.389466666666666,
  45.957316666666664],
 [datetime.time(8, 46, 3),
  6.506683333333333,
  45.746833333333335,
  datetime.time(12, 20, 16),
  6.34155,
  45.76275],
 [datetime.time(11, 9, 11),
  7.014833333333334,
  47.92616666666667,
  datetime.time(15, 5, 23),
  6.963933333333333,
  48.0339],
 [datetime.time(11, 36, 6),
  5.983866666666667,
  47.2084,
  datetime.time(14, 34, 20),
  5.558,
  47.39116666666666],
 [datetime.time(8, 13, 25),
  6.7633833333333335,
  45.64841666666667,
  datetime.time(12, 31, 18),
  6.277333333333333,
  45.40356666666667],
 [datetime.time(8, 55, 25),
  6.69665,
  46.05043333333333,
  datetime.time(14, 21, 45),
  6.448816666666667,
  46.0645],
 [datetime.time(13, 34, 10),
  4.05685,
  47.87385,
  datetime.time(15, 14, 59),
  3.6946,
  48.003616666666666],
 [datetime.time(10, 19, 7),
  6.708183333333333,
  48.03856666666667,
  datetime.time(13, 22, 22),
  6.7065166666666665,
  48.02193333333334],
 [datetime.time(9, 19, 45),
  6.231216666666667,
  44.680566666666664,
  datetime.time(10, 57, 45),
  6.2491666666666665,
  44.684083333333334],
 [datetime.time(10, 53, 28),
  6.175883333333333,
  46.44485,
  datetime.time(15, 44, 9),
  6.28255,
  46.510533333333335],
 [datetime.time(9, 34, 44),
  6.41495,
  45.78541666666667,
  datetime.time(14, 54, 2),
  6.3413,
  45.762766666666664],
 [datetime.time(11, 6, 9),
  6.708333333333333,
  48.03856666666667,
  datetime.time(14, 46, 38),
  6.661483333333333,
  47.929316666666665],
 [datetime.time(8, 47, 40),
  6.066533333333333,
  44.24905,
  datetime.time(14, 28, 1),
  5.70845,
  44.70636666666667],
 [datetime.time(8, 3, 51),
  6.76335,
  45.64833333333333,
  datetime.time(15, 28, 11),
  6.7512,
  45.590383333333335],
 [datetime.time(11, 51, 57),
  5.983866666666667,
  47.2084,
  datetime.time(13, 20, 58),
  5.7869,
  47.02845],
 [datetime.time(10, 42, 9),
  7.0433,
  47.97878333333333,
  datetime.time(14, 40, 23),
  6.9249833333333335,
  47.958816666666664],
 [datetime.time(12, 24, 54),
  6.113683333333333,
  45.593383333333335,
  datetime.time(14, 37, 39),
  6.3003,
  45.600233333333335],
 [datetime.time(8, 21, 28),
  6.883733333333334,
  45.902366666666666,
  datetime.time(16, 23, 41),
  6.876316666666667,
  45.92958333333333],
 [datetime.time(11, 32, 51),
  6.223033333333333,
  45.85325,
  datetime.time(14, 6, 1),
  6.2139,
  45.8481],
 [datetime.time(8, 57, 1),
  6.50695,
  45.74675,
  datetime.time(11, 11),
  6.277783333333334,
  45.61448333333333],
 [datetime.time(8, 9, 6),
  6.763433333333333,
  45.64828333333333,
  datetime.time(16, 33, 56),
  6.7524,
  45.59193333333333],
 [datetime.time(8, 32, 43),
  6.48325,
  45.87916666666667,
  datetime.time(13, 57, 15),
  6.4663,
  45.87206666666667],
 [datetime.time(11, 9, 1),
  7.0148,
  47.92608333333333,
  datetime.time(15, 2, 17),
  6.9851833333333335,
  48.056216666666664],
 [datetime.time(13, 34, 31),
  4.05685,
  47.87395,
  datetime.time(14, 24, 38),
  3.8994666666666666,
  47.90553333333333],
 [datetime.time(11, 10, 31),
  2.965066666666667,
  45.77106666666667,
  datetime.time(12, 40, 2),
  2.9650333333333334,
  45.771233333333335]]

In [9]:
data = [d for d in data if d is not None]
df = pd.DataFrame(data, columns=['start time', 'start longitude', 'start latitude', 'stop time', 'stop longitude', 'stop latitude'])
df

,start time,start longitude,start latitude,stop time,stop longitude,stop latitude
0,10:53:33,5.890900,45.310400,13:23:04,5.960317,45.325150
1,09:47:47,6.272100,45.698467,13:59:18,6.316200,45.754850
2,16:53:46,1.324467,42.228483,18:07:18,1.324033,42.228433
3,14:06:12,1.324500,42.228483,15:34:09,1.321517,42.222650
4,16:30:25,1.324467,42.228467,17:13:03,1.321717,42.222250
...,...,...,...,...,...,...
95,08:09:06,6.763433,45.648283,16:33:56,6.752400,45.591933
96,08:32:43,6.483250,45.879167,13:57:15,6.466300,45.872067
97,11:09:01,7.014800,47.926083,15:02:17,6.985183,48.056217
98,13:34:31,4.056850,47.873950,14:24:38,3.899467,47.905533
99,11:10:31,2.965067,45.771067,12:40:02,2.965033,45.771233

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   start time       100 non-null    object
 1   start longitude  100 non-null    float64
 2   start latitude   100 non-null    float64
 3   stop time        100 non-null    object
 4   stop longitude   100 non-null    float64
 5   stop latitude    100 non-null    float64
dtypes: float64(4), object(2)
memory usage: 4.8+ KB

In [11]:
df.describe()

       start longitude  start latitude  stop longitude  stop latitude
count       100.000000      100.000000      100.000000     100.000000
mean          5.201979       45.798975        5.107323      45.823655
std           2.463812        2.026170        2.472279       2.046199
min          -0.498717       42.228400       -1.080800      42.219167
25%           4.032579       45.636058        3.409183      45.590296
50%           6.445833       45.866208        6.328508      45.842992
75%           6.763433       47.873858        6.706625      47.900858
max          12.740267       48.993283       12.645167      49.084317

In [12]:
def time_between(df, date=datetime.date.today()):
    return (datetime.datetime.combine(date.today(), df['stop time']) - datetime.datetime.combine(date.today(), df['start time'])).total_seconds()

df['duration'] = df.apply(time_between, axis=1)
df

,start time,start longitude,start latitude,stop time,stop longitude,stop latitude,duration
0,10:53:33,5.890900,45.310400,13:23:04,5.960317,45.325150,8971.0
1,09:47:47,6.272100,45.698467,13:59:18,6.316200,45.754850,15091.0
2,16:53:46,1.324467,42.228483,18:07:18,1.324033,42.228433,4412.0
3,14:06:12,1.324500,42.228483,15:34:09,1.321517,42.222650,5277.0
4,16:30:25,1.324467,42.228467,17:13:03,1.321717,42.222250,2558.0
...,...,...,...,...,...,...,...
95,08:09:06,6.763433,45.648283,16:33:56,6.752400,45.591933,30290.0
96,08:32:43,6.483250,45.879167,13:57:15,6.466300,45.872067,19472.0
97,11:09:01,7.014800,47.926083,15:02:17,6.985183,48.056217,13996.0
98,13:34:31,4.056850,47.873950,14:24:38,3.899467,47.905533,3007.0
99,11:10:31,2.965067,45.771067,12:40:02,2.965033,45.771233,5371.0

In [13]:
df.to_csv('data.csv.gz', index=False, compression='gzip')